html,
body,
.navbar,
.sidebar,
body .navbar .links
  background-color:$backgroundColor;

body
  font-family: $defaultFontFamily;

h1, h2, h3, h4, h5, h6
  font-weight:700;

.navbar
  a
    font-family: $secondaryFontFamily;
    font-size:16px;
  a.router-link-active
    font-weight: 700;
  .search-box
    input
      background-color: $backgroundColor;
    .suggestions
      background-color: $backgroundColor;
      color:$textColor;
    .suggestion
      &.focused
          background-color:#444;
  .algolia-search-wrapper
    .algolia-autocomplete
      .ds-dataset-1, .ds-dropdown-menu
        background-color: $backgroundColor;
        &:before
          background-color: $backgroundColor;
      .algolia-docsearch-suggestion
        background-color:#444;
        color:$textColor;
        .algolia-docsearch-suggestion--category-header
          .algolia-docsearch-suggestion--highlight
            background:#444;
            color:$textColor;
        .algolia-docsearch-suggestion--subcategory-column
          background:#444;
          color:$textColor;
        .algolia-docsearch-suggestion--subcategory-column-text
          color:$textColor;
      .algolia-docsearch-suggestion--content
        background:#444;
        color:$textColor;
        .algolia-docsearch-suggestion--text
          color:$textColor;
      .algolia-docsearch-suggestion--highlight
        color:yellow;
      .ds-cursor
        .algolia-docsearch-suggestion--content
          background:#747474!important;

.sidebar
  .nav-links
    a
      font-family: $secondaryFontFamily;


.theme-default-content
  code
    background-color:$codeBgColor;


