$accentColor = #00b0ff
$textColor = #efefef
$borderColor = #a2a4a7
$codeBgColor = #343434
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$backgroundColor = #242424
$defaultFontFamily = 'Open Sans', sans-serif
$secondaryFontFamily = 'Roboto Condensed', sans-serif
